body {
    background-color: rgb(77, 77, 77);
}

.hor-center {
    display: block;
    width: fit-content;
    margin: auto;
}

.my-bottom-border {
    border-bottom: rgb(77, 77, 77) solid 1px;
}

a {
    color: white;
}

a:hover {
    background-color: rgb(77, 77, 77);
    color: white;
    text-decoration: none;
}

.reservation-item {
    width: fit-content;
    padding: 0px 24px;
    margin: 30px;
    border: rgb(77, 77, 77) solid 2px;
}

.reservation-item:hover {
    background-color: rgb(77, 77, 77);
}

.reservation-item-name {
    font-size: 1.57rem;
}