{% extends 'base.html.twig' %}

{% block body %}
        <div class="hor-center"><h1>Welcome to the website of Gym World!</h1></div>
        <div class="row pt-md-3 pb-md-3">
            <div class="col-2"><a href="{{ path('reservations') }}"><button type="button" class="btn btn-primary">Reservations</button></a></div>
            <div class="col-10"></div>
        </div>
{% endblock %}